-# = form_for [] do |f|
          -#   = f.label :image, class: "form__message__box1__icon" do
          -#     = fa_icon "image"
          -#     = f.file_field :image, class: "form__message__box1__icon--image"
          インデックスでフォームの型式で軽く作ってたもの