-# .header
-#   .header__logo
= render 'devise/shared/sidebar'
  
  
.chatmain
  .chatmain__top
    .chatmain__top__leftbox
      .chatmain__top__leftbox__title
        tester
      .chatmain__top__leftbox__member
        メンバー：kawaguchi ,ayumu
    .chatmain__top__rightbox
      .chatmain__top__rightbox__btn
        = link_to "Edit", "http://localhost:3000/", class: 'btn btn-edit'

  .chatmain__center
    .chatmain__center__namebox
      .chatmain__center__namebox__name
        カワグチ
      .chatmain__center__namebox__days
        2019/10/20
    .chatmain__center__textbox
      テスト
    .chatmain__center__namebox
      .chatmain__center__namebox__name
        カワグチ
      .chatmain__center__namebox__days
        2019/10/20
    .chatmain__center__textbox
      テスト
  .chatmain__form
    .chatmain__form__message
      .chatmain__form__message__box1
        .chatmain__form__message__box1__text
          textarea
        .chatmain__form__message__box1__icon
          =link_to "http://localhost:3000/",class: "chatmain__form__mesaage__box__icon chatmain__form__mesaage__box__icon--image" do
            =fa_icon  'image',  class: "chatmain__form__mesaage__box__icon"

          -# = form_for [] do |f|
          -#   = f.label :image, class: "form__message__box1__icon" do
          -#     = fa_icon "image"
          -#     = f.file_field :image, class: "form__message__box1__icon--image"
      .chatmain__form__message__box2
        .chatmain__form__message__box2__btn
          = link_to "send", "http://localhost:3000/", class: 'btn btn-send'
