.sidebar
  .sidebar__head
    .sidebar__head__box
      .sidebar__head__box__name
        = current_user.name
      .sidebar__head__box__icon
        =link_to new_group_path,class: "sidebar__head__box__icon sidebar__head__box__icon--edit" do
          =fa_icon  'edit',  class: "sidebar__head__box__icon--icon1"
          %span<>
        =link_to edit_user_path(current_user),class: "sidebar__head__box__icon sidebar__head__box__icon--cog" do
          =fa_icon  'cog',  class: "sidebar__head__box__icon--icon2"
          %span<>
  .sidebar__bottom
    .sidebar__bottom__group
      - current_user.groups.each do |group|
        = link_to group_messages_path(group), class: "sidebar__bottom__group-white" do
          .sidebar__bottom__group-white__name
            = group.name
          .sidebar__bottom__group-white__message
            = group.show_last_message
            //last_messageを持ってきたい 
            