.sidebar
  .sidebar__box
    %h3.sidebar__box__name
      = current_user.name
    %ul.sidebar__box__icon
      =link_to new_group_path,class: "sidebar__box__icon sidebar__box__icon--edit" do
        =fa_icon  'edit',  class: "sidebar__box__icon--icon1"
        %span<>
      =link_to edit_user_path(current_user),class: "sidebar__box__icon sidebar__box__icon--cog" do
        =fa_icon  'cog',  class: "sidebar__box__icon--icon2"
        %span<>
  .sidebottom
    .sidebottom__group
      - current_user.groups.each do |group|
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            メッセージはまだありません。